* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}


.header {
  background: rgb(0, 171, 85);
  margin: 12px;
}

.header .header_nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 12px;
}

.header .header_nav ul li a{
  text-decoration: none;
  color: white;
}

.active {
  border-bottom: 2px solid white;
}
